/.idea/

/2.JavaCore/
/3.JavaMultithreading/
/4.JavaCollections/
/5.OnlineInternship/
/8.Games/

/1.JavaSyntax/src/paket/
/1.JavaSyntax/src/task0132/
/1.JavaSyntax/src/Quest.info
/1.JavaSyntax/1.JavaSyntax.iml
/out/
/out/production/
/Instruction.png
/JavaRushPlugin.properties
/JavaRushTasks.iml
/out.log
/out.log.1
