/.idea/

/2.JavaCore/
/3.JavaMultithreading/
/4.JavaCollections/
/5.OnlineInternship/
/8.Games/
/1.JavaSyntax/src/
/1.JavaSyntax/src/com/javarush/task/
/1.JavaSyntax/src/com/javarush/task/task01/
/1.JavaSyntax/src/com/javarush/task/task03/
/1.JavaSyntax/src/com/javarush/task/task04/
/1.JavaSyntax/src/com/javarush/task/task05/
/1.JavaSyntax/src/com/javarush/task/task06/
/1.JavaSyntax/src/com/javarush/task/task07/
/1.JavaSyntax/src/com/javarush/task/task08/
/1.JavaSyntax/src/paket/
/1.JavaSyntax/src/task0132/
/1.JavaSyntax/src/Quest.info
/1.JavaSyntax/1.JavaSyntax.iml
/out/
/out/production/
/Instruction.png
/JavaRushPlugin.properties
/JavaRushTasks.iml
/out.log
/out.log.1